<div class="movie-detail">
    <img src="{{image}}" alt="{{title}}">
    <div class="movie-detailed-info">
        <a href="/movies">Go back</a>
        <h1>{{title}}</h1>
        <h2>Director: {{director}}</h2>
        <ul><strong>Stars:</strong>
            {{#each stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{description}}</p>
        <div class="all-showtimes">
            {{#each showtimes}}
            <div class="showtime">
                {{this}}
            </div>
            {{/each}}

        </div>
    </div>
</div>