<div class="container">
    <div class="row">
        <div class="col-md-3 left">
            <img src="{{image}}" alt="{{title}}-poster">
        </div>
        <div class="col-md-9 movie-info">
            <a href="/movies">Go back</a>
            <h2>{{title}}</h2>
            <hr>
            <h3>Director: {{director}}</h3>
            <h4>Stars</h4>
            <ul>
                {{#each stars}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p>{{description}}</p>
            <p>| {{#each showtimes}}{{this}} | {{/each}}</p>
        </div>
    </div>
</div>