{{!-- Creo que debería ponerlo así, pero no me aparece...

<img src="{{movies.image}}" alt="{{movies.title}}">
<div>
    <h2>{{movies.title}}</h2>
    <h3>{{movies.director}}</h3>
    <h4>{{movies.stars}}</h4>
    <p>{{movies.description}}</p>
    <p>{{movies.showtimes}}</p>
</div> --}}
