<h1>Ironhack Cinema</h1>
<h2>Click on the movie to check the showtimes!</h2>
<section>
    <ul class="movies">
        {{#each movies}}
        <li>
            <img src={{image}} alt={{title}}>
            <h3>{{title}}</h3>
            <a href="/movies/{{title}}/{{id}}">See more</a>
        </li>
        {{/each}}
    </ul>
</section>